html {
  height: 100%;
  scroll-padding-top: 80px;
}
body {
  display: grid;
  /* padding-top: 80px; */
}

/* Image background */
.background-image {
  background-image: url("images/soft-white-backgrounds-wallpapers.png");
  background-repeat: repeat-y;
  background-size: auto;
  background-position: center;
  background-attachment: fixed;
}

/* Back shadow for all objects */
.back_shadow{
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.45);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.45);
}

/* Adding Navbar underline */
@media (min-width: 992px) {

  .nav-link.active::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    padding-bottom: 5px;
  }

  .nav-link:hover::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    padding-bottom: 5px;
  }
}

.navbar {
  text-shadow: 0px 1px 3px #00000060;
}

/* .nav-link.hover::after {
  content: "";
  display: block;
  height: 50px;
  width: 100%;
}
.nav-link:active::after {
  content: "";
  display: block;
  height: 50px;
  width: 100%;
}  */

/* Background color used for Navbar and footer */
.bg-dark {
  background-color: #26282bb7 !important;
  backdrop-filter: blur(10px) saturate(125%);
  -webkit-backdrop-filter: blur(10px) saturate(125%);           
}

/* header format */
.header_container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* 
@media (min-width: 576px) {
  .header_container {
    max-width: 540px;
  }
} */

@media (min-width: 768px) {
  .header_container {
    max-width: 720px;
  }
}

/* Profile image shown on the top */
.profile_image {
  background-image: url('images/deanna_picture.jpg'); 
  height: 100%;
  border-radius: 10px;
}

/* Profile image card format */
.image_card {
  position: absolute;
  right: 30%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  background-image: linear-gradient(to left, rgba(49, 55, 70, 0), rgb(49, 55, 70, 0.8));
  padding: 80px 20px 20px 20px;
  color: #fff;
  text-align: left;
  text-shadow: 2px 0px 3px #000000;
  border-radius: 10px;
}

/* body container format */
.body_container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* @media (min-width: 576px) {
  .body_container {
    max-width: 540px;
  }
} */

/* @media (min-width: 768px) {
  .body_container {
    max-width: 720px;
  }
} */

/* @media (min-width: 992px) {
  .body_container {
    max-width: 960px;
  }
} */

@media (min-width: 1140px) {
  .body_container {
    max-width: 1140px;
  }
}

/* Header title bar */
.my_header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(49, 55, 70, 0.7);
  text-align: center;
  color: white;
  border-radius: 6px 6px 0px 0px;
  text-shadow: 0px 1px 4px #00000080;
}

/* Color of title bar */
.my_header_blue {
  background-color:  rgba(82, 97, 136, 0.534);
}  

/* Card format */
.my_card {
  border-radius: 6px;
  position: relative;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

/* Card body format */
.card-body {
  background-color: rgba(255, 255, 255, 0.151);
  border-radius: 6px;
}

/* footer format */
.footer {
  text-shadow: 0px 1px 3px #00000060;
}